<%= form_with(model: item_category) do |form| %>
    <div class="card">
    <div class="card-body">

    <% if item_category.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(item_category.errors.count, "error") %> prohibited this item_category from being saved:</h2>
  
        <ul>
          <% item_category.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h2>Menu</h2>
    <%= form.collection_select :item_id, Menu.order(:name), :id, :name %>
    <br>

    <h4>Category</h4>
    <%= form.collection_radio_buttons :category_id, Category.order(:name), :id, :name %>
    
    <%= form.submit "Submit", class: "btn btn-primary" %>
    </div>
    </div>
  <% end %>