<div class="container">
<br>
<h2>Menu Makanan</h2>
<br>
<%= link_to "New", new_item_category_path %>
    <table class="table">
    <thead>
        <tr>
            <th scope="col">Nama</th>
            <th scope="col">Nama</th>
            <th scope="col">Category</th>

        </tr>
    </thead>
    <tbody>
    <% no = 0 %>
    <% @item_categories.each do |item| %>
        <tr>
        <td><%= item.menu_name%></td>
        <td><%= item.menu_price%></td>
        <td><%= item.category_name%></td>
        <td><%= button_to "Delete", item_category_url(item.id), method: :delete %>
        </tr>
    <% end %>
    </tbody>
    </table>
    <%= link_to "Create new Order", new_order_path %>
 </div>