<p style="color: green"><%= notice %></p>

<div class="container">
<div class="card">
  <div class="card-body">
    <h2><%= @item_category.menu_id %></h2>
    <p><%= @item_category.category_id %></p>
  </div>
</div>
<div>  
  <%= link_to "Edit this item_category", edit_item_category_path(@item_category) %> |
  <%= link_to "Back to item_categories", item_categories_path %>

  <%= button_to "Destroy this item_category", @item_category, method: :delete %>
</div>
<div>