<p style="color: green"><%= notice %></p>

<div class="container">
<div class="card">
  <div class="card-body">
    <p>Status : <%= @order.status %></p>
    <p>Total : <%= @order.total %></p>
    <p>Order Date : <%= @order.order_date %></p>
  </div>
</div>
<div>  
  <%= link_to "Edit this order", edit_order_path(@order) %> |
  <%= link_to "Back to orders", orders_path %> |
  <%= link_to "New Order Detail", new_order_detail_path %>
</div>
<div>