<p style="color: green"><%= notice %></p>

<div class="container">
<div class="card">
  <div class="card-body">
    <h2><%= @category.name %></h2>
  </div>
</div>
<div>  
  <%= link_to "Edit this category", edit_category_path(@category) %> |
  <%= link_to "Back to categories", categories_path %>

  <%= button_to "Destroy this category", @category, method: :delete %>
</div>
<div>